@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos onlone</h1>
    <p>Alugue um livro!</p>
    <div>
        <img src="/img/read_book_study_icon-icons.com_51077.png" alt="Alternate Text" />
    </div>
</div>
